<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first template</title>
    {% load static %}
</head>
<body>
    <h1>This is my first Django project! </h1>
    
    {% if name == 'Sean' %}
        {{ name }}
    {% endif %}
    <ul>
    {% for pet in pets %}
    
        <li>{{pet}}</li>
      
    {% endfor %}
    </ul>
        <img src="{% static 'images/salardeuyuni.jpg' %}">
    
    <a href="{% url 'time' ">time page</a>
</body>
</html>